.select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected="true"] {
  background-color: var(--primary-active);
}

.select2-container--bootstrap4 .select2-results__option--highlighted {
  background-color: var(--primary-hover);
}

.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--above,
.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--below {
  border: 1px solid var(--input-border);
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 0.25);
  background-color: var(--input-color);
}

.select2-container--bootstrap4 .select2-search, .select2-search--dropdown .select2-search__field {
  border: 1px solid var(--input-border);
}

.select2-container--bootstrap4.select2-container--focus .select2-selection,
.select2-container--bootstrap4.select2-container--open.select2-container--below .select2-selection {
  background-color: var(--input-color);
  border: 1px solid var(--input-border);
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, 0.25);
}

.select2-container--bootstrap4 .select2-selection--single {
  background-color: var(--input-color);
  border: 1px solid var(--input-border);
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
  color: var(--text-color);
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow b {
  border-top-color: var(--text-color);
}

.select2.select2-container.select2-container--bootstrap4 {
  width: 100% !important;
}
