name: Upload release artifact

on:
  push:
    tags:
      - '*'

jobs:
  build-upload-artifact:
    name: Build and upload artifact
    runs-on: ubuntu-latest
    steps:
      - name: Update Release Draft
        uses: release-drafter/release-drafter@v5.17.6
        id: release-drafter
        with:
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn -B package --file pom.xml -Dmaven.test.skip=true

      - name: Prepare GH Release Assets
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          cp target/rest-list-parameter.hpi rest-list-parameter-${VERSION}.hpi
          sha256sum rest-list-parameter-${VERSION}.hpi > rest-list-parameter-${VERSION}.sha256sum
          echo "VERSION=${VERSION}" >> $GITHUB_ENV

      - name: Upload Release Assets
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ steps.release-drafter.outputs.upload_url }}
          asset_path: ./rest-list-parameter-${{ env.VERSION }}*